.dailyDataModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem 0.5rem 2.5rem 0.5rem;
}
.dailyUl {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.dailyContainer {
  box-shadow: var(--boxShadow);
  border-radius: var(--radius);
  padding: var(--btnPadding);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.2rem;
}
.dailyDt {
  width: 23vw;
  font-size: var(--biggerFont);
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyMainTitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding: var(--btnPadding);
}
.dailyControlDiv {
  display: flex;
  max-width: 70vw;
}
.dailyDataDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tempContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tempHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tempSvgContainer {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: var(--smallerFont);
}
.tempSvgContainer > .FeelsLikeSvg {
  height: 0.8rem;
  width: 0.8rem;
}
@media screen and (max-width: 950px) {
  .dailyDataModal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dailyUl {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dailyDt {
    width: unset;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
  }
  .dailyDtTitle {
    width: 55vw;
  }
  .dailyControlDiv {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dailyDataDiv {
    gap: 0.5rem;
  }
}
