.hourlyDataModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem 3rem 2rem;
}
.hourlyUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.hourlyContainer {
  border-radius: var(--radius);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: var(--boxShadow);
  padding: var(--btnPadding);
  height: 4vh;
}
.hourlyDt {
  text-align: center;
  min-width: 18vw;
  max-width: 20vw;
}
.hourlyDataDiv {
  min-width: 12vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.minorHourly {
  min-width: 10vw;
}
.hourlyMainTitle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 950px) {
  .hourlyDataModal {
    padding: 1rem 1rem 2rem 1rem;
    min-width: 82vw;
  }
  .hourlyUl {
    display: flex;
    flex-direction: column;
  }
  .hourlyContainer {
    display: flex;
    flex-direction: column;
    height: unset;
    padding: var(--divPadding);
    gap: 0.8rem;
  }
  .hourlyDt {
    min-width: 60vw;
    width: unset;
  }
  .hourlyDataDiv {
    min-width: 50vw;
    height: 3vh;
    width: unset;
    gap: 0.5rem;
  }
  .minorHourly {
    width: unset;
  }
}
