.hourlyDataModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem 3rem 2rem;
  text-align: center;
}
.hourlyUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.hourlyContainer {
  border-radius: var(--radius);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: var(--boxShadow);
  padding: var(--btnPadding);
  height: 4vh;
}
.hourlyDt {
  text-align: center;
  min-width: 18vw;
  max-width: 20vw;
}
.hourlyDataDiv {
  min-width: 12vw;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}
.minorHourly {
  min-width: 10vw;
}
.hourlyMainTitle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.feelsLike {
  display: flex;
  gap: 0.1rem;
}

@media screen and (max-width: 950px) {
  .hourlyDataModal {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    width: 85vw;
    font-size: 0.7rem;
  }
  .hourlyUl {
    display: flex;
    flex-direction: column;
  }
  .hourlyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: unset;
    padding: 0.3rem;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 8vh;
    max-height: 8vh;
  }
  .hourlyDt {
    width: unset;
    max-width: 5vw;
  }
  .hourlyDataDiv {
    display: flex;
    flex-direction: column;
    width: unset;
  }
  .minorHourly {
    width: unset;
  }
}
