.realTimeData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  min-width: clamp(300px, 20vw, 30vw);
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: var(--radius);
  backdrop-filter: var(--modalBlur);
  background-color: var(--strongAccentColor);
  box-shadow: var(--boxShadow);
}
.realTimeDataDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.realTimeSubData {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.realTimeSubDataHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.searchReloadDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.realTimeSubDataSvg {
  align-self: center;
}
.dailyDt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.windContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.windySvg {
  align-self: center;
}
.showAlertsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReloadSvg {
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  height: 1.3rem;
  width: 1.3rem;
}
.realTimeDataDiv > div > *:hover {
  transform: scale(1.1);
}
.realTimeDataDiv > div:hover {
  transform: scale(1.1);
}
.tickingTime:hover,
.dailyDt:hover {
  transform: scale(1.1);
}
.feelsLike {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feelsLike > svg {
  height: 1rem;
  width: 1rem;
}
.windContainerHome {
  display: flex;
  justify-content: space-between;
}
.alertsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.75);
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  justify-content: center;
}
.alertsModal {
  padding: var(--divPadding);
  border-radius: var(--radius);
  border: 1px solid var(--accentColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);
}
.alertsModal {
  display: flex;
  justify-content: center;
}
.alertsModal > :nth-child(1) {
  height: 4rem;
  width: 4rem;
}
.moonTimings {
  font-size: var(--smallerFont);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/*margin to space from separator*/
.alertBtnHome {
  margin-top: 0.5rem;
}
.alertBtnHome,
.completInfoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--radius);
}
/*apply margin to compensate reloading svg size*/
.tickingTime {
  display: flex;
  align-items: center;
}
.twoDots {
  align-self: center;
}
@media screen and (max-width: 649px) {
  .realTimeData {
    margin-bottom: 1rem;
    min-width: unset;
    min-width: 82vw;
  }
  .alertBtnHome {
    display: flex;
    flex-direction: column;
  }
}
