:root {
  --radius: 10px;
  --divPadding: 1rem;
  --btnPadding: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --smallerFont: 0.8rem;
  --biggerFont: 1.4rem;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.app {
  position: relative;
  min-height: 100vh;
  /*   overflow: hidden; */
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
svg {
  width: 1.5rem;
  height: 1.5rem;
}
.loadingIcon {
  height: 12rem;
  width: 12rem;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.strong {
  font-weight: bold;
}
/* --------------- OVERLAY CONFIG----------- */
.minutelyDataOverlay,
.hourlyDataOverlay,
.dailyDataOverlay,
.extendedOverlay,
.loadingOverlay,
.alertsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}
.minutelyDataModal,
.hourlyDataModal,
.dailyDataModal,
.extendedModal,
.alertsModal {
  background-color: white;
  border-radius: var(--radius);
  border: 1px solid black;
  padding: var(--btnPadding);
  position: relative;
}
/*Text style for the alerts*/
.alertsModal {
  max-width: 50vw;
  padding: var(--divPadding);
  border-radius: var(--radius);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alertsModal > :nth-child(1) {
  height: 4rem;
  width: 4rem;
}

.loadingOverlay {
  background-color: rgba(250, 194, 167, 0.05);
}

/* --------------- END OVERLAY CONFIG----------- */

/* ----------------------- HOME UI ELEMENTS */
.alertBtnHome,
.completInfoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid black;
  padding: var(--btnPadding);
  border-radius: var(--radius);
}
.logo {
  font-size: var(--biggerFont);
  font-weight: bold;
}
/* ----------------------- END HOME UI ELEMENTS */

/* ----------------- MINUTE OVERLAY*/
.minutelyDataModal {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
.noRain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CheckAllSvg {
  height: 15rem;
  width: 15rem;
}

/* ----------------- HOURLY OVERLAY*/

.hourlyContainer {
  border-radius: var(--radius);
  border: 1px solid black;
  padding: var(--btnPadding);
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.2rem;
}
.hourlyDt {
  text-align: center;
}
.hourlyControlDiv {
  display: flex;
}
.hourlyDataDiv {
  display: flex;
  justify-content: space-between;
}
.hourlyMainTitle,
.dailyMainTitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding: var(--btnPadding);
}
.PreviousSvg,
.NextSvg {
  height: 2.5rem;
  width: 2.5rem;
}
/* ----------------- END HOURLY OVERLAY*/

/* ----------------- START DAILY OVERLAY*/

.dailyContainer {
  border-radius: var(--radius);
  border: 1px solid black;
  padding: var(--btnPadding);
  width: 230px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.15rem;
}
.separator {
  width: 100%;
  border: 1px solid black;
  border-radius: 20%;
}
.dailyDt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyControlDiv {
  display: flex;
}
.dailyDataDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PreviousSvg,
.NextSvg {
  height: 2.5rem;
  width: 2.5rem;
}
.dailyControlDiv {
  display: flex;
}
.moonTimings {
  font-size: var(--smallerFont);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.rainPercentContainer {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.PercentSvg {
  width: 0.8rem;
  height: 0.8rem;
}
.tempContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tempHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tempSvgContainer {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: var(--smallerFont);
}
.tempSvgContainer > .FeelsLikeSvg {
  height: 0.8rem;
  width: 0.8rem;
}
/* ----------------- END DAILY OVERLAY*/
/* ----------------- START REALTIME OVERLAY*/

.realTimeDataDiv {
  display: flex;
  justify-content: space-between;
}

.windContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.windySvg {
  align-self: center;
}
.showAlertsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ----------------- END REALTIME OVERLAY*/

/*---------------------------------------------DESKTOP */
@media screen and (min-width: 1000px) {
  .app {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 10vh 70vh 10vh;
  }
  .logo {
    grid-row: 1/2;
    grid-column: 1/5;
  }
  .searchForm {
    grid-row: 2/3;
    grid-column: 1/5;
    width: 40vw;
    display: flex;
  }
  .searchForm > input {
    width: 100%;
  }
  .realTimeData {
    grid-row: 3/4;
    grid-column: 1/5;
  }
  .dataTogglingArea {
    grid-row: 4/5;
    display: flex;
    grid-column: 1/5;
  }
  .windContainerHome {
    display: flex;
    justify-content: space-between;
  }
  .hourlyUl {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
  }
  .dailyUl {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
/*------------------------------------------end DESKTOP */

/*------------------------------------------INTERMEDIATE */
@media screen and (min-width: 550px) and (max-width: 999px) {
  .hourlyUl {
    display: grid;
    gap: 0.5rem;
    max-width: 90vw;
    grid-template-columns: repeat(4, 1fr);
  }
  .dailyUl {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
/*----------------------------------------end INTERMEDIATE */

/*-----------------------------------------------MOBILE */
@media screen and (max-width: 549px) {
  .hourlyUl {
    display: grid;
    gap: 0.3rem;
    max-width: 90vw;
    grid-template-columns: repeat(2, 1fr);
  }
  .dailyUl {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
/*---------------------------------------------end MOBILE */
