:root {
  --radius: 10px;
  --divPadding: 1rem;
  --btnPadding: 0.5rem;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.app {
  position: relative;
  min-height: 100vh;
  /*   overflow: hidden; */
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
svg {
  width: 1.5rem;
  height: 1.5rem;
}
.loadingIcon {
  height: 15rem;
  width: 15rem;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* --------------- OVERLAY CONFIG----------- */
.minutelyDataOverlay,
.hourlyDataOverlay,
.dailyDataOverlay,
.extendedOverlay,
.loadingOverlay,
.alertsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}
.minutelyDataModal,
.hourlyDataModal,
.dailyDataModal,
.extendedModal,
.alertsModal {
  background-color: white;
  border-radius: var(--radius);
  border: 1px solid black;
  padding: var(--btnPadding);
  position: relative;
}
/*Text style for the alerts*/
.alertsModal {
  max-width: 50vw;
  padding: var(--divPadding);
  border-radius: var(--radius);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alertsModal > :nth-child(1) {
  height: 4rem;
  width: 4rem;
}

.loadingOverlay {
  background-color: rgba(250, 194, 167, 0.05);
}

/* --------------- END OVERLAY CONFIG----------- */

/* ----------------------- HOME UI ELEMENTS */
.alertBtnHome,
.completInfoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid black;
  padding: var(--btnPadding);
  border-radius: var(--radius);
}
/* ----------------------- END HOME UI ELEMENTS */

/* ----------------- MINUTE OVERLAY*/
.minutelyDataModal {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
/* ----------------- HOURLY OVERLAY*/

.hourlyContainer {
  border-radius: var(--radius);
  border: 1px solid black;
  padding: var(--btnPadding);
}

.hourlyControlDiv {
  display: flex;
}
/* ----------------- END HOURLY OVERLAY*/

/*-----------------------DESKTOP */
@media screen and (min-width: 1000px) {
  .hourlyUl {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(8, 1fr);
  }
}
/*-----------------------end DESKTOP */
/*-----------------------INTERMEDIATE */
@media screen and (min-width: 550px) and (max-width: 999px) {
  .hourlyUl {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(4, 1fr);
  }
}
/*-----------------------end INTERMEDIATE */

/*-----------------------MOBILE */
@media screen and (max-width: 549px) {
  .hourlyUl {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(2, 1fr);
  }
}
/*-----------------------end MOBILE */
