:root {
  --radius: 10px;
  --divPadding: 1rem;
  --btnPadding: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --smallerFont: 0.8rem;
  --biggerFont: 1.4rem;
  --strongAccentColor: rgba(109, 40, 217, 0.18);
  --strongAccentColor2: rgb(109, 40, 217, 0.08);
  --strongAccentColorSeparator: rgba(109, 40, 217, 0.75);
  --complementaryAccent: rgb(52, 19, 135);
  --accentColor: #8b5cf6;
  --boxShadow: rgba(24, 32, 79, 0.25) 0px 20px 20px,
    rgba(255, 255, 255, 0.3) 0px 0px 0px 0.1px inset;
  --boxShadowInside: rgba(109, 40, 217, 0.15) 0px 15px 15px,
    rgba(109, 40, 217, 0.15) 0px 0px 0px 0.1px inset;
  --modalBlur: blur(40px);
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.app {
  position: relative;
  min-height: 100vh;
  /*   overflow: hidden; */
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}
svg {
  width: 1.8rem;
  height: 1.8rem;
}
.loadingIcon {
  height: 12rem;
  width: 12rem;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*Shows whitespaces on spans*/
span {
  white-space: pre;
  font-weight: bold;
}
div {
  font-weight: bold;
}
svg:hover {
  transform: scale(1.1);
}

.NetworkErrorSvg {
  align-self: center;
}
.strong {
  font-weight: bold;
}
.loadingSvg {
  grid-row: 2/3;
  grid-column: 2/4;
}
/* --------------- OVERLAY CONFIG----------- */

.minutely {
  border-radius: var(--radius);
}

.loadingOverlay {
  background-color: rgba(250, 194, 167, 0.05);
}

/* --------------- END OVERLAY CONFIG----------- */

/* ----------------------- HOME UI ELEMENTS */
.alertBtnHome,
.completInfoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--accentColor);
  padding: var(--btnPadding);
  border-radius: var(--radius);
}
.alertBtnHome {
  margin-top: 0.5rem;
}
.logo {
  font-size: var(--biggerFont);
  font-weight: bold;
}
.sunnySvg {
  align-self: center;
}
/* ----------------------- END HOME UI ELEMENTS */

/* ----------------- MINUTE OVERLAY*/
.minutelyDataModal {
  min-width: 60vw;
  max-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 2/4;
  display: flex;
  gap: 0.2rem;
  min-height: 70vh;
}
.noRain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CheckAllSvg {
  height: 10rem;
  width: 10rem;
}

/* ----------------- HOURLY OVERLAY*/

.hourlyContainer {
  border-radius: var(--radius);
  padding: var(--divPadding);
  width: 13vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.2rem;
  box-shadow: var(--boxShadowInside);
}
.hourlyDt {
  text-align: center;
}
.hourlyControlDiv {
  display: flex;
}
.hourlyDataDiv {
  display: flex;
  justify-content: space-between;
}
.hourlyMainTitle,
.dailyMainTitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding: var(--btnPadding);
}
/* ----------------- END HOURLY OVERLAY*/

/* ----------------- START DAILY OVERLAY*/

.dailyContainer {
  box-shadow: var(--boxShadow);
  border-radius: var(--radius);
  padding: var(--btnPadding);
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.15rem;
}
.separator {
  width: 100%;
  border: 1px solid black;
  border-radius: 20%;
}
.dailyDt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyControlDiv {
  display: flex;
}
.dailyDataDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dailyDataModal {
  padding: 0.5rem 0.1rem 2rem 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1/3;
  grid-column: 2/4;
  display: flex;
  gap: 0.5rem;
}
.PreviousSvg,
.NextSvg {
  height: 2.5rem;
  width: 2.5rem;
}
.moonTimings {
  font-size: var(--smallerFont);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.rainPercentContainer {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.PercentSvg {
  width: 0.8rem;
  height: 0.8rem;
}
.tempContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tempHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tempSvgContainer {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: var(--smallerFont);
}
.tempSvgContainer > .FeelsLikeSvg {
  height: 0.8rem;
  width: 0.8rem;
}
/* ----------------- END DAILY OVERLAY*/
/* ----------------- START REALTIME OVERLAY*/

.realTimeDataDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.windContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.windySvg {
  align-self: center;
}
.showAlertsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ----------------- END REALTIME OVERLAY*/

/*---------------------------------------------DESKTOP */
/* @media screen and (min-width: 750px) { */
.app {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
}
.searchForm {
  margin-top: 0.9rem;
  grid-row: 1/2;
  grid-column: 1/5;
  min-width: 25vw;
  background-color: var(--strongAccentColor);
  backdrop-filter: var(--modalBlur);
  padding: 0.3rem;
  border-radius: var(--radius);
  box-shadow: var(--boxShadow);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.4rem;
  height: 1.3rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
}
.SearchSvg {
  margin-top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
input {
  all: unset;
  width: 100%;
}
.minutelyDataModal,
.hourlyDataModal,
.dailyDataModal,
.extendedModal,
.alertsModal {
  border-radius: var(--radius);
  backdrop-filter: var(--modalBlur);
  background-color: var(--strongAccentColor);
}
.realTimeData {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  min-width: 25vw;
  padding: var(--divPadding);
  border-radius: var(--radius);
  backdrop-filter: var(--modalBlur);
  background-color: var(--strongAccentColor);
  box-shadow: var(--boxShadow);
}
.dataTogglingArea {
  grid-row: 3/4;
  display: flex;
  grid-column: 1/5;
  backdrop-filter: var(--modalBlur);
  padding: var(--btnPadding);
  border-radius: var(--radius);
  box-shadow: var(--boxShadow);
}
.windContainerHome {
  display: flex;
  justify-content: space-between;
}
.hourlyUl {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(8, 1fr);
}
.dailyUl {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.alertsModal {
  display: flex;
  justify-content: center;
}
.tickingTime {
  display: flex;
  align-items: center;
}
.twoDots {
  align-self: center;
}
.dailyDt {
  font-size: var(--biggerFont);
  flex-direction: column;
}
.hourlyUl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hourlyDataModal {
  padding: 0.5rem 0.1rem 1.5rem 0.1rem;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1/3;
  grid-column: 2/4;
  display: flex;
  gap: 0.5rem;
}
.PreviousSvg,
.NextSvg {
  height: 3rem;
  width: 3rem;
}
.alertsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.75);
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  justify-content: center;
}
/*Text style for the alerts*/
.alertsModal {
  min-width: 80vw;
  padding: var(--divPadding);
  border-radius: var(--radius);
  border: 1px solid var(--accentColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);
}
.alertsModal > :nth-child(1) {
  height: 4rem;
  width: 4rem;
}
/* } */
/*------------------------------------------end DESKTOP */

/*------------------------------------------INTERMEDIATE */
/* @media screen and (min-width: 550px) and (max-width: 999px) {
  .hourlyUl {
    display: grid;
    gap: 0.5rem;
    max-width: 90vw;
    grid-template-columns: repeat(4, 1fr);
  }
  .dailyUl {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
} */
/*----------------------------------------end INTERMEDIATE */

/*-----------------------------------------------MOBILE */
@media screen and (max-width: 749px) {
  .hourlyUl {
    display: grid;
    gap: 0.3rem;
    max-width: 90vw;
    grid-template-columns: repeat(2, 1fr);
  }
  .dailyUl {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .PreviousSvg,
  .NextSvg {
    height: 2.5rem;
    width: 2.5rem;
  }
  .realTimeData {
    width: 60vw;
  }
}
/*---------------------------------------------end MOBILE */

/* ----------------------- HOVERING */
.realTimeDataDiv > div > *:hover {
  transform: scale(1.1);
}
.realTimeDataDiv > div:hover {
  transform: scale(1.1);
}
.tickingTime:hover,
.dailyDt:hover {
  transform: scale(1.1);
}
